<h1>Add a New Product</h1>
<form method="post">
    <fieldset>
        <label class= "col-1" for="name">Name: *</label>
        <input name="name" id="name" required />
        <br>
        <label class= "col-1" for="quantity">Quantity: *</label>
        <input name="quantity" id="quantity" required />
        <br>
        <label class= "col-1" for="price">Price: *</label>
        <input name="price" id="price" required />
        <br>
        <button class="btn btn-primary col-1"> Save</button>
    </fieldset>
</form>